/*****************************/
/* Style by RedCapeMedia, LLC*/
/* January 11, 2016 (v1.1) */
/*****************************/


body{ background-color:#F9F9F9; margin:0px; padding:0px 0px 0px 0px; text-align: center; font-family: 'Open Sans', sans-serif; min-width: 320px; }
h1{ font-size:40px; font-weight:bold; line-height: 46px; color:#696969; margin:0px; padding:30px 10px 10px 10px; }
h2{ font-size:28px; font-weight:bold; line-height: 34px; color:#696969; margin:0px; padding:30px 10px 0px 20px; }
h3{ font-size:18px; font-weight:bold; line-height: 24px; color:#696969; margin:0px; padding:30px 10px 0px 10px;}

p{ font-size: 16px; font-weight: normal; line-height: 24px; color:#696969; margin:20px; }
ul{ font-size: 16px; font-weight: normal; line-height: 22px; color:#696969; margin:20px 40px 20px 20px; }
li{ padding:2px; }

/*********containers*************/

#colorstrip { width: 100%; height:200px; background-color: #fff; clear:both; }

#colorstrip-inner {
	width: 100%;
	height:100px;
	background-color: #fff;
	clear:both;
}

#content{
	width:100%;
	clear:both;
	background-color:#F9F9F9;
}

#footer{
	width:100%;
	clear:both;
	max-height: 100%;
}

/*********masthead-home****************/

.masthead{ max-width: 960px; margin:0 auto;}
.masthead-logo{	float:left; clear:none;}
.masthead-nav{ float:right; max-width: 760px; min-width:120px; margin:0 auto; padding:85px 10px 0px 0px;}
.masthead-nav a{ color:#949599; text-align: right; float:right; font-size: 18px; font-weight:bold; text-decoration: none; padding:0px 5px 0px 5px;}
.masthead-nav a:hover{ color:#ef342b; text-decoration: underline;}
.masthead-nav img{ width:6px; height:6px; padding:10px 5px 0px 3px; float:right;}
.masthead-nav p{ color:#696969; font-size:18px; font-weight: bold; padding:0px 5px 0px 0px; margin:0; clear:none; float: right;}

/*********masthead-inner****************/

.masthead{ max-width: 960px; margin:0 auto;}
.masthead-logo-inner{ float:left; clear:none;}
.masthead-logo-inner img{ height:100px; width:100px; }
.masthead-nav-inner{ float:right; max-width: 760px; min-width:120px; margin:0 auto; padding:40px 10px 0px 0px;}
.masthead-nav-inner a{ color:#949599; text-align: right; float:right; font-size: 16px; font-weight:bold; text-decoration: none; padding:1px 5px 0px 5px;}
.masthead-nav-inner a:hover{ color:#ef342b; text-decoration: underline;}
.masthead-nav-inner img{ width:6px; height:6px; padding:10px 5px 0px 3px; float:right;}
.masthead-nav-inner p{ color:#696969; font-size:16px; font-weight: bold; padding:0px 5px 0px 0px; margin:0; clear:none; float: right;}

/********middle******************/

.middle{ max-width: 960px; margin:0 auto; text-align: left; overflow: hidden;}
.middle-main{ max-width: 600px; min-width: 300px; padding: 0px; float:left; clear:none; text-align: left;}
.middle-rail{ width: 300px; padding:0px; clear:right; text-align: left; float:right;}
.footer-content{ max-width: 960px; padding:30px; font-size: 10px; text-align: left; margin:0 auto;}
